{% extends "layout.html" %}
{% block body %}
    <div class="container" style="font-size: 16px;">
        <h1>Contact</h1>
        <p>
            This is a beta site and we encourage users to contact us with bugs or feature suggestions.
            Contact mgymrek AT ucsd DOT edu to discuss future development of WebSTR.
        </p>
        <p>
            Errors in the website can be <a href="https://github.com/gymrek-lab/webstr">reported via WebSTR Github</a>.
            Issues with programmatic data access can be reported <a href="https://github.com/acg-team/webSTR-API">on WebSTR-API Github repository</a>
        </p>
    </div>
{% endblock %}
