{% extends "layout.html" %}
{% block body %}

<style>
    .table {
      border-collapse: collapse;
      width: 100%;
    }
    .table th, .table td, .table thead{
      border: 1px solid black;
      border-bottom: 1px solid black !important;
      padding: 8px;
      text-align: left;
    }

</style>

<div class="container">
  <div class="row mt-5">
    <div class="col-sm">
      <a name="datasets"></a>
      <p>
        <h2>Complex Trait Associations</h2>
      </p>

      <div class="table-responsive">
        <table class="table">
            <thead>
            <th>
                phenotype
            </th>
            <th>
                chrom
            </th>
            <th>
                Hg38
            </th>
            <th>
                Hg19
            </th>
            <th>
                association_p_value
            </th>
            <th>
                direction_of_association
            </th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>
                alanine_aminotransferase
            </td>
            <td>
                7
            </td>
            <td>
                28207893-28207907
            </td>
            <td>
                28247512-28247526
            </td>
            <td>
                1.650000e-14
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                apolipoprotein_a
            </td>
            <td>
                1
            </td>
            <td>
                93392569-93392579
            </td>
            <td>
                93858126-93858136
            </td>
            <td>
                2.510000e-20
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                apolipoprotein_a
            </td>
            <td>
                11
            </td>
            <td>
                47310908-47310923
            </td>
            <td>
                47332459-47332474
            </td>
            <td>
                1.670000e-42
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                apolipoprotein_b
            </td>
            <td>
                2
            </td>
            <td>
                21043880-21043925
            </td>
            <td>
                21266752-21266797
            </td>
            <td>
                1.370000e-279
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                aspartate_aminotransferase
            </td>
            <td>
                3
            </td>
            <td>
                58403009-58403022
            </td>
            <td>
                58388736-58388749
            </td>
            <td>
                3.160000e-60
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                aspartate_aminotransferase
            </td>
            <td>
                12
            </td>
            <td>
                120909182-120909198
            </td>
            <td>
                121346985-121347001
            </td>
            <td>
                1.490000e-21
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                c_reactive_protein
            </td>
            <td>
                16
            </td>
            <td>
                51103628-51103642
            </td>
            <td>
                51137539-51137553
            </td>
            <td>
                8.410000e-18
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                calcium
            </td>
            <td>
                11
            </td>
            <td>
                2961502-2961517
            </td>
            <td>
                2982732-2982747
            </td>
            <td>
                1.270000e-31
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                calcium
            </td>
            <td>
                15
            </td>
            <td>
                96123673-96123694
            </td>
            <td>
                96666902-96666923
            </td>
            <td>
                8.340000e-13
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                creatinine
            </td>
            <td>
                2
            </td>
            <td>
                15646393-15646414
            </td>
            <td>
                15786517-15786538
            </td>
            <td>
                4.510000e-36
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                creatinine
            </td>
            <td>
                3
            </td>
            <td>
                141987266-141987298
            </td>
            <td>
                141706108-141706140
            </td>
            <td>
                9.470000e-48
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                creatinine
            </td>
            <td>
                10
            </td>
            <td>
                124794519-124794534
            </td>
            <td>
                126483088-126483103
            </td>
            <td>
                4.440000e-19
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                creatinine
            </td>
            <td>
                20
            </td>
            <td>
                63719066-63719080
            </td>
            <td>
                62350418-62350432
            </td>
            <td>
                5.590000e-19
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                cystatin_c
            </td>
            <td>
                6
            </td>
            <td>
                89412258-89412271
            </td>
            <td>
                90121977-90121990
            </td>
            <td>
                1.240000e-16
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                eosinophil_count
            </td>
            <td>
                2
            </td>
            <td>
                28462948-28462962
            </td>
            <td>
                28685815-28685829
            </td>
            <td>
                2.790000e-28
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                eosinophil_count
            </td>
            <td>
                2
            </td>
            <td>
                111120967-111121021
            </td>
            <td>
                111878544-111878598
            </td>
            <td>
                4.960000e-58
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                eosinophil_count
            </td>
            <td>
                3
            </td>
            <td>
                51081896-51081913
            </td>
            <td>
                51119327-51119344
            </td>
            <td>
                1.700000e-27
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                eosinophil_count
            </td>
            <td>
                5
            </td>
            <td>
                111081805-111081818
            </td>
            <td>
                110417503-110417516
            </td>
            <td>
                1.460000e-35
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                eosinophil_count
            </td>
            <td>
                12
            </td>
            <td>
                123361730-123361745
            </td>
            <td>
                123846277-123846292
            </td>
            <td>
                1.950000e-19
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                eosinophil_count
            </td>
            <td>
                15
            </td>
            <td>
                67241041-67241071
            </td>
            <td>
                67533379-67533409
            </td>
            <td>
                2.160000e-18
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                eosinophil_percent
            </td>
            <td>
                2
            </td>
            <td>
                28462948-28462962
            </td>
            <td>
                28685815-28685829
            </td>
            <td>
                2.900000e-25
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                eosinophil_percent
            </td>
            <td>
                2
            </td>
            <td>
                111120967-111121021
            </td>
            <td>
                111878544-111878598
            </td>
            <td>
                5.880000e-75
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                eosinophil_percent
            </td>
            <td>
                3
            </td>
            <td>
                51081896-51081913
            </td>
            <td>
                51119327-51119344
            </td>
            <td>
                1.080000e-29
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                eosinophil_percent
            </td>
            <td>
                10
            </td>
            <td>
                5998471-5998513
            </td>
            <td>
                6040434-6040476
            </td>
            <td>
                9.040000e-11
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                eosinophil_percent
            </td>
            <td>
                10
            </td>
            <td>
                92837098-92837136
            </td>
            <td>
                94596855-94596893
            </td>
            <td>
                3.330000e-19
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                eosinophil_percent
            </td>
            <td>
                13
            </td>
            <td>
                50322020-50322030
            </td>
            <td>
                50896156-50896166
            </td>
            <td>
                5.460000e-19
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                gamma_glutamyltransferase
            </td>
            <td>
                1
            </td>
            <td>
                26920756-26920789
            </td>
            <td>
                27247247-27247280
            </td>
            <td>
                1.520000e-16
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                glycated_haemoglobin
            </td>
            <td>
                3
            </td>
            <td>
                171780542-171780552
            </td>
            <td>
                171498332-171498342
            </td>
            <td>
                7.910000e-18
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                glycated_haemoglobin
            </td>
            <td>
                19
            </td>
            <td>
                17142167-17142190
            </td>
            <td>
                17252977-17253000
            </td>
            <td>
                1.320000e-89
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                glycated_haemoglobin
            </td>
            <td>
                22
            </td>
            <td>
                29967918-29967946
            </td>
            <td>
                30363907-30363935
            </td>
            <td>
                6.290000e-33
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                haematocrit
            </td>
            <td>
                12
            </td>
            <td>
                48093720-48093735
            </td>
            <td>
                48487503-48487518
            </td>
            <td>
                8.850000e-35
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                haematocrit
            </td>
            <td>
                14
            </td>
            <td>
                64247333-64247356
            </td>
            <td>
                64714051-64714074
            </td>
            <td>
                1.000000e-26
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                haematocrit
            </td>
            <td>
                15
            </td>
            <td>
                75954432-75954447
            </td>
            <td>
                76246773-76246788
            </td>
            <td>
                3.720000e-51
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                haematocrit
            </td>
            <td>
                17
            </td>
            <td>
                61373093-61373106
            </td>
            <td>
                59450454-59450467
            </td>
            <td>
                6.560000e-25
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                haemoglobin_concentration
            </td>
            <td>
                14
            </td>
            <td>
                64247333-64247356
            </td>
            <td>
                64714051-64714074
            </td>
            <td>
                1.150000e-24
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                haemoglobin_concentration
            </td>
            <td>
                15
            </td>
            <td>
                75954432-75954447
            </td>
            <td>
                76246773-76246788
            </td>
            <td>
                3.950000e-47
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                haemoglobin_concentration
            </td>
            <td>
                17
            </td>
            <td>
                61373093-61373106
            </td>
            <td>
                59450454-59450467
            </td>
            <td>
                7.240000e-30
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                igf_1
            </td>
            <td>
                1
            </td>
            <td>
                213990134-213990170
            </td>
            <td>
                214163477-214163513
            </td>
            <td>
                2.870000e-15
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                igf_1
            </td>
            <td>
                2
            </td>
            <td>
                203447168-203447199
            </td>
            <td>
                204311891-204311922
            </td>
            <td>
                3.970000e-11
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                igf_1
            </td>
            <td>
                3
            </td>
            <td>
                141378186-141378200
            </td>
            <td>
                141097028-141097042
            </td>
            <td>
                2.380000e-44
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                igf_1
            </td>
            <td>
                16
            </td>
            <td>
                81548131-81548151
            </td>
            <td>
                81581736-81581756
            </td>
            <td>
                2.580000e-30
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                lymphocyte_count
            </td>
            <td>
                2
            </td>
            <td>
                128318870-128318920
            </td>
            <td>
                129076444-129076494
            </td>
            <td>
                2.010000e-18
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                lymphocyte_count
            </td>
            <td>
                12
            </td>
            <td>
                12725746-12725760
            </td>
            <td>
                12878680-12878694
            </td>
            <td>
                1.180000e-33
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                lymphocyte_count
            </td>
            <td>
                22
            </td>
            <td>
                29967918-29967946
            </td>
            <td>
                30363907-30363935
            </td>
            <td>
                3.450000e-11
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                lymphocyte_percent
            </td>
            <td>
                1
            </td>
            <td>
                227289889-227289904
            </td>
            <td>
                227477590-227477605
            </td>
            <td>
                7.310000e-11
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                lymphocyte_percent
            </td>
            <td>
                2
            </td>
            <td>
                23985603-23985617
            </td>
            <td>
                24208473-24208487
            </td>
            <td>
                1.130000e-29
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                lymphocyte_percent
            </td>
            <td>
                2
            </td>
            <td>
                128318870-128318920
            </td>
            <td>
                129076444-129076494
            </td>
            <td>
                4.730000e-14
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                lymphocyte_percent
            </td>
            <td>
                3
            </td>
            <td>
                128484637-128484661
            </td>
            <td>
                128203480-128203504
            </td>
            <td>
                3.000000e-38
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                lymphocyte_percent
            </td>
            <td>
                8
            </td>
            <td>
                129678481-129678507
            </td>
            <td>
                130690727-130690753
            </td>
            <td>
                1.620000e-11
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_corpuscular_haemoglobin
            </td>
            <td>
                1
            </td>
            <td>
                153927592-153927642
            </td>
            <td>
                153900068-153900118
            </td>
            <td>
                5.030000e-13
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                mean_corpuscular_haemoglobin
            </td>
            <td>
                7
            </td>
            <td>
                99060379-99060404
            </td>
            <td>
                98658002-98658027
            </td>
            <td>
                2.950000e-12
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_corpuscular_haemoglobin
            </td>
            <td>
                15
            </td>
            <td>
                65725677-65725706
            </td>
            <td>
                66018015-66018044
            </td>
            <td>
                3.580000e-147
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_corpuscular_haemoglobin
            </td>
            <td>
                16
            </td>
            <td>
                67195891-67195947
            </td>
            <td>
                67229794-67229850
            </td>
            <td>
                2.830000e-23
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                mean_corpuscular_haemoglobin
            </td>
            <td>
                19
            </td>
            <td>
                4426168-4426185
            </td>
            <td>
                4426165-4426182
            </td>
            <td>
                8.780000e-112
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_corpuscular_haemoglobin
            </td>
            <td>
                22
            </td>
            <td>
                32501483-32501497
            </td>
            <td>
                32897470-32897484
            </td>
            <td>
                6.560000e-120
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                mean_corpuscular_volume
            </td>
            <td>
                7
            </td>
            <td>
                99060379-99060404
            </td>
            <td>
                98658002-98658027
            </td>
            <td>
                2.390000e-14
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_corpuscular_volume
            </td>
            <td>
                15
            </td>
            <td>
                65725677-65725706
            </td>
            <td>
                66018015-66018044
            </td>
            <td>
                9.580000e-113
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_corpuscular_volume
            </td>
            <td>
                16
            </td>
            <td>
                67195891-67195947
            </td>
            <td>
                67229794-67229850
            </td>
            <td>
                9.270000e-26
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                mean_corpuscular_volume
            </td>
            <td>
                22
            </td>
            <td>
                32501483-32501497
            </td>
            <td>
                32897470-32897484
            </td>
            <td>
                8.450000e-133
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                mean_platelet_volume
            </td>
            <td>
                1
            </td>
            <td>
                150579759-150579814
            </td>
            <td>
                150552235-150552290
            </td>
            <td>
                2.650000e-16
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_platelet_volume
            </td>
            <td>
                2
            </td>
            <td>
                105893985-105894035
            </td>
            <td>
                106510441-106510491
            </td>
            <td>
                6.930000e-29
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_platelet_volume
            </td>
            <td>
                3
            </td>
            <td>
                15661266-15661305
            </td>
            <td>
                15702773-15702812
            </td>
            <td>
                6.930000e-37
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                mean_platelet_volume
            </td>
            <td>
                15
            </td>
            <td>
                50104867-50104888
            </td>
            <td>
                50397064-50397085
            </td>
            <td>
                4.260000e-12
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_platelet_volume
            </td>
            <td>
                17
            </td>
            <td>
                2593591-2593618
            </td>
            <td>
                2496885-2496912
            </td>
            <td>
                2.440000e-17
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                mean_platelet_volume
            </td>
            <td>
                17
            </td>
            <td>
                29514998-29515022
            </td>
            <td>
                27842016-27842040
            </td>
            <td>
                0.000000e+00
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                mean_platelet_volume
            </td>
            <td>
                17
            </td>
            <td>
                35544529-35544545
            </td>
            <td>
                33871548-33871564
            </td>
            <td>
                4.300000e-62
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_platelet_volume
            </td>
            <td>
                18
            </td>
            <td>
                69868804-69868841
            </td>
            <td>
                67536040-67536077
            </td>
            <td>
                6.730000e-34
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_platelet_volume
            </td>
            <td>
                19
            </td>
            <td>
                16090287-16090303
            </td>
            <td>
                16201097-16201113
            </td>
            <td>
                7.610000e-56
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                mean_sphered_cell_volume
            </td>
            <td>
                4
            </td>
            <td>
                56858492-56858511
            </td>
            <td>
                57724658-57724677
            </td>
            <td>
                1.480000e-21
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_sphered_cell_volume
            </td>
            <td>
                11
            </td>
            <td>
                119206290-119206323
            </td>
            <td>
                119077000-119077033
            </td>
            <td>
                6.880000e-16
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_sphered_cell_volume
            </td>
            <td>
                16
            </td>
            <td>
                67195891-67195947
            </td>
            <td>
                67229794-67229850
            </td>
            <td>
                3.070000e-23
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                mean_sphered_cell_volume
            </td>
            <td>
                17
            </td>
            <td>
                46006926-46006998
            </td>
            <td>
                44084292-44084364
            </td>
            <td>
                5.430000e-82
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                mean_sphered_cell_volume
            </td>
            <td>
                19
            </td>
            <td>
                17142167-17142190
            </td>
            <td>
                17252977-17253000
            </td>
            <td>
                2.050000e-65
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                neutrophil_count
            </td>
            <td>
                8
            </td>
            <td>
                129599504-129599515
            </td>
            <td>
                130611750-130611761
            </td>
            <td>
                3.010000e-63
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                neutrophil_count
            </td>
            <td>
                15
            </td>
            <td>
                51223259-51223285
            </td>
            <td>
                51515456-51515482
            </td>
            <td>
                1.870000e-13
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                neutrophil_percent
            </td>
            <td>
                8
            </td>
            <td>
                129592780-129592799
            </td>
            <td>
                130605026-130605045
            </td>
            <td>
                2.990000e-26
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                platelet_count
            </td>
            <td>
                2
            </td>
            <td>
                111116813-111116828
            </td>
            <td>
                111874390-111874405
            </td>
            <td>
                2.540000e-13
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_count
            </td>
            <td>
                11
            </td>
            <td>
                8824204-8824216
            </td>
            <td>
                8845751-8845763
            </td>
            <td>
                2.020000e-32
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                platelet_count
            </td>
            <td>
                11
            </td>
            <td>
                119206290-119206323
            </td>
            <td>
                119077000-119077033
            </td>
            <td>
                3.770000e-83
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                platelet_count
            </td>
            <td>
                12
            </td>
            <td>
                47810805-47810866
            </td>
            <td>
                48204588-48204649
            </td>
            <td>
                5.950000e-18
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_count
            </td>
            <td>
                17
            </td>
            <td>
                7823348-7823375
            </td>
            <td>
                7726666-7726693
            </td>
            <td>
                7.300000e-13
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>
            <td>
                1
            </td>
            <td>
                3170058-3170078
            </td>
            <td>
                3086622-3086642
            </td>
            <td>
                4.240000e-12
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>
            <td>
                1
            </td>
            <td>
                204557905-204557931
            </td>
            <td>
                204527033-204527059
            </td>
            <td>
                5.760000e-17
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>
            <td>
                1
            </td>
            <td>
                225726659-225726675
            </td>
            <td>
                225914361-225914377
            </td>
            <td>
                3.520000e-14
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>
            <td>
                2
            </td>
            <td>
                23870286-23870304
            </td>
            <td>
                24093156-24093174
            </td>
            <td>
                1.600000e-29
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>
            <td>
                2
            </td>
            <td>
                111116813-111116828
            </td>
            <td>
                111874390-111874405
            </td>
            <td>
                3.950000e-16
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>
            <td>
                4
            </td>
            <td>
                7039091-7039118
            </td>
            <td>
                7040818-7040845
            </td>
            <td>
                1.170000e-28
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>
            <td>
                11
            </td>
            <td>
                119206290-119206323
            </td>
            <td>
                119077000-119077033
            </td>
            <td>
                6.070000e-103
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>
            <td>
                15
            </td>
            <td>
                41962543-41962555
            </td>
            <td>
                42254741-42254753
            </td>
            <td>
                2.410000e-17
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>
            <td>
                16
            </td>
            <td>
                88485441-88485456
            </td>
            <td>
                88551849-88551864
            </td>
            <td>
                3.690000e-30
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>
            <td>
                17
            </td>
            <td>
                2593591-2593618
            </td>
            <td>
                2496885-2496912
            </td>
            <td>
                1.830000e-12
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>
            <td>
                17
            </td>
            <td>
                10277612-10277637
            </td>
            <td>
                10180929-10180954
            </td>
            <td>
                5.190000e-13
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>
            <td>
                20
            </td>
            <td>
                1949439-1949451
            </td>
            <td>
                1930085-1930097
            </td>
            <td>
                1.170000e-144
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                platelet_distribution_width
            </td>
            <td>
                1
            </td>
            <td>
                114637083-114637101
            </td>
            <td>
                115179704-115179722
            </td>
            <td>
                8.280000e-35
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                platelet_distribution_width
            </td>
            <td>
                1
            </td>
            <td>
                230901420-230901430
            </td>
            <td>
                231037166-231037176
            </td>
            <td>
                2.840000e-11
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_distribution_width
            </td>
            <td>
                6
            </td>
            <td>
                41820182-41820195
            </td>
            <td>
                41787920-41787933
            </td>
            <td>
                1.310000e-19
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_distribution_width
            </td>
            <td>
                20
            </td>
            <td>
                19921850-19921885
            </td>
            <td>
                19902494-19902529
            </td>
            <td>
                2.670000e-15
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                red_blood_cell_count
            </td>
            <td>
                2
            </td>
            <td>
                8620964-8621020
            </td>
            <td>
                8761094-8761150
            </td>
            <td>
                6.090000e-19
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                red_blood_cell_count
            </td>
            <td>
                14
            </td>
            <td>
                64247333-64247356
            </td>
            <td>
                64714051-64714074
            </td>
            <td>
                3.210000e-24
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                red_blood_cell_count
            </td>
            <td>
                15
            </td>
            <td>
                40020722-40020737
            </td>
            <td>
                40312923-40312938
            </td>
            <td>
                2.270000e-20
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                red_blood_cell_count
            </td>
            <td>
                15
            </td>
            <td>
                75954432-75954447
            </td>
            <td>
                76246773-76246788
            </td>
            <td>
                2.590000e-43
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                red_blood_cell_count
            </td>
            <td>
                16
            </td>
            <td>
                67195891-67195947
            </td>
            <td>
                67229794-67229850
            </td>
            <td>
                1.080000e-13
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                red_blood_cell_count
            </td>
            <td>
                17
            </td>
            <td>
                61373093-61373106
            </td>
            <td>
                59450454-59450467
            </td>
            <td>
                5.920000e-27
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                red_blood_cell_distribution_width
            </td>
            <td>
                3
            </td>
            <td>
                171780542-171780552
            </td>
            <td>
                171498332-171498342
            </td>
            <td>
                4.300000e-72
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                red_blood_cell_distribution_width
            </td>
            <td>
                17
            </td>
            <td>
                32142452-32142501
            </td>
            <td>
                30469471-30469520
            </td>
            <td>
                6.570000e-13
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                red_blood_cell_distribution_width
            </td>
            <td>
                19
            </td>
            <td>
                16130154-16130165
            </td>
            <td>
                16240964-16240975
            </td>
            <td>
                2.660000e-16
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                red_blood_cell_distribution_width
            </td>
            <td>
                19
            </td>
            <td>
                17142167-17142190
            </td>
            <td>
                17252977-17253000
            </td>
            <td>
                1.130000e-48
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                shbg
            </td>
            <td>
                1
            </td>
            <td>
                23491439-23491454
            </td>
            <td>
                23817932-23817947
            </td>
            <td>
                9.160000e-17
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                shbg
            </td>
            <td>
                2
            </td>
            <td>
                207588729-207588742
            </td>
            <td>
                208453453-208453466
            </td>
            <td>
                2.870000e-16
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                shbg
            </td>
            <td>
                8
            </td>
            <td>
                58482877-58482917
            </td>
            <td>
                59395436-59395476
            </td>
            <td>
                1.090000e-26
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                shbg
            </td>
            <td>
                20
            </td>
            <td>
                34384148-34384167
            </td>
            <td>
                32971954-32971973
            </td>
            <td>
                6.370000e-15
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                total_protein
            </td>
            <td>
                5
            </td>
            <td>
                128014207-128014217
            </td>
            <td>
                127349899-127349909
            </td>
            <td>
                4.620000e-16
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                total_protein
            </td>
            <td>
                12
            </td>
            <td>
                12725746-12725760
            </td>
            <td>
                12878680-12878694
            </td>
            <td>
                7.180000e-13
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                triglycerides
            </td>
            <td>
                3
            </td>
            <td>
                136197983-136197999
            </td>
            <td>
                135916825-135916841
            </td>
            <td>
                3.250000e-27
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                urate
            </td>
            <td>
                3
            </td>
            <td>
                142045613-142045631
            </td>
            <td>
                141764455-141764473
            </td>
            <td>
                1.770000e-25
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                urate
            </td>
            <td>
                17
            </td>
            <td>
                61373093-61373106
            </td>
            <td>
                59450454-59450467
            </td>
            <td>
                3.880000e-18
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                white_blood_cell_count
            </td>
            <td>
                2
            </td>
            <td>
                12793866-12793880
            </td>
            <td>
                12933992-12934006
            </td>
            <td>
                5.960000e-18
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                white_blood_cell_count
            </td>
            <td>
                3
            </td>
            <td>
                136449901-136449918
            </td>
            <td>
                136168743-136168760
            </td>
            <td>
                8.100000e-12
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                white_blood_cell_count
            </td>
            <td>
                10
            </td>
            <td>
                44390336-44390351
            </td>
            <td>
                44885784-44885799
            </td>
            <td>
                4.580000e-19
            </td>
            <td>
                -
            </td>
            </tr>
            </tbody>
            </table>
            {% endblock %}
