{% extends "layout.html" %}
{% block body %}

<style>
    .table {
      border-collapse: collapse;
      width: 100%;
    }
    .table th, .table td, .table thead{
      border: 1px solid black;
      border-bottom: 1px solid black !important;
      padding: 8px;
      text-align: left;
    }

</style>

<div class="container">
  <div class="row mt-5">
    <div class="col-sm">
      <a name="datasets"></a>
      <p>
        <h2>Complex Trait Associations</h2>
      </p>

      The STRs below were fine-mapped as potentially causal variants for blood and serum biomarker traits in <a href="https://pubmed.ncbi.nlm.nih.gov/38116119/">Margoliash et al. 2023</a>.

      <div class="table-responsive">
        <table class="table">
            <thead>
            <th>
                phenotype
            </th>
            <th>
                Hg38
            </th>
            <th>
                Hg19
            </th>
            <th>
                association_p_value
            </th>
            <th>
                direction_of_association
            </th>

            </thead>





            <tbody>
            <tr>
            <td>
                alanine_aminotransferase
            </td>
            <td>
                <a href="/locus?repeat_id=5680444&genome=hg38">7:28207893-28207907</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_1311573">7:28247512-28247526</a>
            </td>
            <td>
                1.650000e-14
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                apolipoprotein_a
            </td>

            <td>
                <a href="/locus?repeat_id=6328535&genome=hg38">1:93392569-93392579</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_58152">1:93858126-93858136</a>
            </td>
            <td>
                2.510000e-20
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                apolipoprotein_a
            </td>

            <td>
                <a href="/locus?repeat_id=6124305&genome=hg38">11:47310908-47310923</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_228252">11:47332459-47332474</a>
            </td>
            <td>
                1.670000e-42
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                apolipoprotein_b
            </td>

            <td>
                <a href="/locus?repeat_id=5394851&genome=hg38">2:21043880-21043925</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_713617">2:21266752-21266797</a>
            </td>
            <td>
                1.370000e-279
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                aspartate_aminotransferase
            </td>

            <td>
                <a href="/locus?repeat_id=4962292&genome=hg38">3:58403009-58403022</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_944608">3:58388736-58388749</a>
            </td>
            <td>
                3.160000e-60
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                aspartate_aminotransferase
            </td>
  
            <td>
                <a href="/locus?repeat_id=5125467&genome=hg38">12:120909182-120909198</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_344244">12:121346985-121347001</a>
            </td>
            <td>
                1.490000e-21
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                c_reactive_protein
            </td>

            <td>
                <a href="/locus?repeat_id=5961144&genome=hg38">16:51103628-51103642</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_530661">16:51137539-51137553</a>
            </td>
            <td>
                8.410000e-18
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                calcium
            </td>

            <td>
                <a href="/locus?repeat_id=6097079&genome=hg38">11:2961502-2961517</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_205084">11:2982732-2982747</a>
            </td>
            <td>
                1.270000e-31
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                calcium
            </td>

            <td>
                <a href="/locus?repeat_id=5182768&genome=hg38">15:96123673-96123694</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_497670">15:96666902-96666923</a>
            </td>
            <td>
                8.340000e-13
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                creatinine
            </td>
            <td>
                <a href="NaN">2:15646393-15646414</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_711147">2:15786517-15786538</a>
            </td>
            <td>
                4.510000e-36
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                creatinine
            </td>

            <td>
                <a href="/locus?repeat_id=5009131&genome=hg38">3:141987266-141987298</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_984948">3:141706108-141706140</a>
            </td>
            <td>
                9.470000e-48
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                creatinine
            </td>

            <td>
                <a href="/locus?repeat_id=5264441&genome=hg38">10:124794519-124794534</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_199570">10:126483088-126483103</a>
            </td>
            <td>
                4.440000e-19
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                creatinine
            </td>

            <td>
                <a href="/locus?repeat_id=923531&genome=hg38">20:63719066-63719080</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_868128">20:62350418-62350432</a>
            </td>
            <td>
                5.590000e-19
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                cystatin_c
            </td>

            <td>
                <a href="/locus?repeat_id=5812193&genome=hg38">6:89412258-89412271</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_1253682">6:90121977-90121990</a>
            </td>
            <td>
                1.240000e-16
            </td>
            <td>
                +
            </td>

            </tr>
            <tr>
            <td>
                eosinophil_count
            </td>

            <td>
                <a href="/locus?repeat_id=5400460&genome=hg38">2:28462948-28462962</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_718524">2:28685815-28685829</a>
            </td>
            <td>
                2.790000e-28
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                eosinophil_count
            </td>

            <td>
                <a href="/locus?repeat_id=5448546&genome=hg38">2:111120967-111121021</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_762681">2:111878544-111878598</a>
            </td>
            <td>
                4.960000e-58
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                eosinophil_count
            </td>

            <td>
                <a href="/locus?repeat_id=4956832&genome=hg38">3:51081896-51081913</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_939915">3:51119327-51119344</a>
            </td>
            <td>
                1.700000e-27
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                eosinophil_count
            </td>
 
            <td>
                <a href="/locus?repeat_id=6050612&genome=hg38">5:111081805-111081818</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_1166553">5:110417503-110417516</a>
            </td>
            <td>
                1.460000e-35
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                eosinophil_count
            </td>

            <td>
                <a href="/locus?repeat_id=5128356&genome=hg38">12:123361730-123361745</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_346882">12:123846277-123846292</a>
            </td>
            <td>
                1.950000e-19
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                eosinophil_count
            </td>

            <td>
                <a href="/locus?repeat_id=647511&genome=hg38">15:67241041-67241071</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_480574">15:67533379-67533409</a>
            </td>
            <td>
                2.160000e-18
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                eosinophil_percent
            </td>

            <td>
                <a href="/locus?repeat_id=5400460&genome=hg38">2:28462948-28462962</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_718524">2:28685815-28685829</a>
            </td>
            <td>
                2.900000e-25
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                eosinophil_percent
            </td>

            <td>
                <a href="/locus?repeat_id=5448546&genome=hg38">2:111120967-111121021</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_762681">2:111878544-111878598</a>
            </td>
            <td>
                5.880000e-75
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                eosinophil_percent
            </td>

            <td>
                <a href="/locus?repeat_id=4956832&genome=hg38">3:51081896-51081913</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_939915">3:51119327-51119344</a>
            </td>
            <td>
                1.080000e-29
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                eosinophil_percent
            </td>

            <td>
                <a href="/locus?repeat_id=5189648&genome=hg38">10:5998471-5998513</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_132586">10:6040434-6040476</a>
            </td>
            <td>
                9.040000e-11
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                eosinophil_percent
            </td>

            <td>
                <a href="/locus?repeat_id=217553&genome=hg38">10:92837098-92837136</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_180938">10:94596855-94596893</a>
            </td>
            <td>
                3.330000e-19
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                eosinophil_percent
            </td>

            <td>
                <a href="/locus?repeat_id=1257083&genome=hg38">13:50322020-50322030</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_370731">13:50896156-50896166</a>
            </td>
            <td>
                5.460000e-19
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                gamma_glutamyltransferase
            </td>

            <td>
                <a href="/locus?repeat_id=6282401&genome=hg38">1:26920756-26920789</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_18388">1:27247247-27247280</a>
            </td>
            <td>
                1.520000e-16
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                glycated_haemoglobin
            </td>

            <td>
                <a href="/locus?repeat_id=762336&genome=hg38">3:171780542-171780552</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_1000036">3:171498332-171498342</a>
            </td>
            <td>
                7.910000e-18
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                glycated_haemoglobin
            </td>
 
            <td>
                <a href="/locus?repeat_id=1315513&genome=hg38">19:17142167-17142190</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_671551">19:17252977-17253000</a>
            </td>
            <td>
                1.320000e-89
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                glycated_haemoglobin
            </td>

            <td>
                <a href="/locus?repeat_id=1013475&genome=hg38">22:29967918-29967946</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_896894">22:30363907-30363935</a>
            </td>
            <td>
                6.290000e-33
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                haematocrit
            </td>

            <td>
                <a href="/locus?repeat_id=5073308&genome=hg38">12:48093720-48093735</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_299170">12:48487503-48487518</a>
            </td>
            <td>
                8.850000e-35
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                haematocrit
            </td>
 
            <td>
                <a href="/locus?repeat_id=5297163&genome=hg38">14:64247333-64247356</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_427121">14:64714051-64714074</a>
            </td>
            <td>
                1.000000e-26
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                haematocrit
            </td>

            <td>
                <a href="/locus?repeat_id=5169776&genome=hg38">15:75954432-75954447</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_485945">15:76246773-76246788</a>
            </td>
            <td>
                3.720000e-51
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                haematocrit
            </td>

            <td>
                <a href="/locus?repeat_id=5592565&genome=hg38">17:61373093-61373106</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_598282">17:59450454-59450467</a>
            </td>
            <td>
                6.560000e-25
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                haemoglobin_concentration
            </td>

            <td>
                <a href="/locus?repeat_id=5297163&genome=hg38">14:64247333-64247356</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_427121">14:64714051-64714074</a>
            </td>
            <td>
                1.150000e-24
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                haemoglobin_concentration
            </td>

            <td>
                <a href="/locus?repeat_id=5169776&genome=hg38">15:75954432-75954447</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_485945">15:76246773-76246788</a>
            </td>
            <td>
                3.950000e-47
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                haemoglobin_concentration
            </td>

            <td>
                <a href="/locus?repeat_id=5592565&genome=hg38">17:61373093-61373106</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_598282">17:59450454-59450467</a>
            </td>
            <td>
                7.240000e-30
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                igf_1
            </td>

            <td>
                <a href="/locus?repeat_id=6387491&genome=hg38">1:213990134-213990170</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_108961">1:214163477-214163513</a>
            </td>
            <td>
                2.870000e-15
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                igf_1
            </td>

            <td>
                <a href="/locus?repeat_id=5503514&genome=hg38">2:203447168-203447199</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_810631">2:204311891-204311922</a>
            </td>
            <td>
                3.970000e-11
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                igf_1
            </td>

            <td>
                <a href="/locus?repeat_id=749124&genome=hg38">3:141378186-141378200</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_984494">3:141097028-141097042</a>
            </td>
            <td>
                2.380000e-44
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                igf_1
            </td>

            <td>
                <a href="/locus?repeat_id=824649&genome=hg38">16:81548131-81548151</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_551106">16:81581736-81581756</a>
            </td>
            <td>
                2.580000e-30
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                lymphocyte_count
            </td>

            <td>
                <a href="/locus?repeat_id=5458949&genome=hg38">2:128318870-128318920</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_771977">2:129076444-129076494</a>
            </td>
            <td>
                2.010000e-18
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                lymphocyte_count
            </td>

            <td>
                <a href="/locus?repeat_id=5053925&genome=hg38">12:12725746-12725760</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_282174">12:12878680-12878694</a>
            </td>
            <td>
                1.180000e-33
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                lymphocyte_count
            </td>

            <td>
                <a href="/locus?repeat_id=1013475&genome=hg38">22:29967918-29967946</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_896894">22:30363907-30363935</a>
            </td>
            <td>
                3.450000e-11
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                lymphocyte_percent
            </td>

            <td>
                <a href="/locus?repeat_id=1222317&genome=hg38">1:227289889-227289904</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_116358">1:227477590-227477605</a>
            </td>
            <td>
                7.310000e-11
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                lymphocyte_percent
            </td>
 
            <td>
                <a href="/locus?repeat_id=5396595&genome=hg38">2:23985603-23985617</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_715089">2:24208473-24208487</a>
            </td>
            <td>
                1.130000e-29
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                lymphocyte_percent
            </td>

            <td>
                <a href="/locus?repeat_id=5458949&genome=hg38">2:128318870-128318920</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_771977">2:129076444-129076494</a>
            </td>
            <td>
                4.730000e-14
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                lymphocyte_percent
            </td>

            <td>
                <a href="/locus?repeat_id=5000729&genome=hg38">3:128484637-128484661</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_977629">3:128203480-128203504</a>
            </td>
            <td>
                3.000000e-38
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                lymphocyte_percent
            </td>

            <td>
                <a href="/locus?repeat_id=4890138&genome=hg38">8:129678481-129678507</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_1454141">8:130690727-130690753</a>
            </td>
            <td>
                1.620000e-11
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_corpuscular_haemoglobin
            </td>

            <td>
                <a href="/locus?repeat_id=1181209&genome=hg38">1:153927592-153927642</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_75332">1:153900068-153900118</a>
            </td>
            <td>
                5.030000e-13
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                mean_corpuscular_haemoglobin
            </td>

            <td>
                <a href="NaN">7:99060379-99060404</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_1350954">7:98658002-98658027</a>
            </td>
            <td>
                2.950000e-12
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_corpuscular_haemoglobin
            </td>

            <td>
                <a href="/locus?repeat_id=5162430&genome=hg38">15:65725677-65725706</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_479486">15:66018015-66018044</a>
            </td>
            <td>
                3.580000e-147
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_corpuscular_haemoglobin
            </td>

            <td>
                <a href="/locus?repeat_id=813174&genome=hg38">16:67195891-67195947</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_540376">16:67229794-67229850</a>
            </td>
            <td>
                2.830000e-23
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                mean_corpuscular_haemoglobin
            </td>

            <td>
                <a href="/locus?repeat_id=1299769&genome=hg38">19:4426168-4426185</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_657664">19:4426165-4426182</a>
            </td>
            <td>
                8.780000e-112
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_corpuscular_haemoglobin
            </td>

            <td>
                <a href="/locus?repeat_id=4910182&genome=hg38">22:32501483-32501497</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_899125">22:32897470-32897484</a>
            </td>
            <td>
                6.560000e-120
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                mean_corpuscular_volume
            </td>

            <td>
                <a href="NaN">7:99060379-99060404</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_1350954">7:98658002-98658027</a>
            </td>
            <td>
                2.390000e-14
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_corpuscular_volume
            </td>

            <td>
                <a href="/locus?repeat_id=5162430&genome=hg38">15:65725677-65725706</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_479486">15:66018015-66018044</a>
            </td>
            <td>
                9.580000e-113
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_corpuscular_volume
            </td>

            <td>
                <a href="/locus?repeat_id=813174&genome=hg38">16:67195891-67195947</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_540376">16:67229794-67229850</a>
            </td>
            <td>
                9.270000e-26
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                mean_corpuscular_volume
            </td>

            <td>
                <a href="/locus?repeat_id=4910182&genome=hg38">22:32501483-32501497</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_899125">22:32897470-32897484</a>
            </td>
            <td>
                8.450000e-133
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                mean_platelet_volume
            </td>

            <td>
                <a href="/locus?repeat_id=6345766&genome=hg38">1:150579759-150579814</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_72922">1:150552235-150552290</a>
            </td>
            <td>
                2.650000e-16
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_platelet_volume
            </td>

            <td>
                <a href="/locus?repeat_id=5446096&genome=hg38">2:105893985-105894035</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_759769">2:106510441-106510491</a>
            </td>
            <td>
                6.930000e-29
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_platelet_volume
            </td>

            <td>
                <a href="NaN">3:15661266-15661305</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_920282">3:15702773-15702812</a>
            </td>
            <td>
                6.930000e-37
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                mean_platelet_volume
            </td>

            <td>
                <a href="/locus?repeat_id=632908&genome=hg38">15:50104867-50104888</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_469502">15:50397064-50397085</a>
            </td>
            <td>
                4.260000e-12
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_platelet_volume
            </td>

            <td>
                <a href="/locus?repeat_id=475100&genome=hg38">17:2593591-2593618</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_558308">17:2496885-2496912</a>
            </td>
            <td>
                2.440000e-17
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                mean_platelet_volume
            </td>

            <td>
                <a href="/locus?repeat_id=491445&genome=hg38">17:29514998-29515022</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_574473">17:27842016-27842040</a>
            </td>
            <td>
                0.000000e+00
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                mean_platelet_volume
            </td>
            <td>
                <a href="/locus?repeat_id=5571734&genome=hg38">17:35544529-35544545</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_578680">17:33871548-33871564</a>
            </td>
            <td>
                4.300000e-62
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_platelet_volume
            </td>
            <td>
                <a href="/locus?repeat_id=468593&genome=hg38">18:69868804-69868841</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_648650">18:67536040-67536077</a>
            </td>
            <td>
                6.730000e-34
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_platelet_volume
            </td>
            <td>
                <a href="/locus?repeat_id=5628126&genome=hg38">19:16090287-16090303</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_670364">19:16201097-16201113</a>
            </td>
            <td>
                7.610000e-56
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                mean_sphered_cell_volume
            </td>
            <td>
                <a href="NaN">4:56858492-56858511</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_1045375">4:57724658-57724677</a>
            </td>
            <td>
                1.480000e-21
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_sphered_cell_volume
            </td>
            <td>
                <a href="/locus?repeat_id=6166081&genome=hg38">11:119206290-119206323</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_266122">11:119077000-119077033</a>
            </td>
            <td>
                6.880000e-16
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                mean_sphered_cell_volume
            </td>
            <td>
                <a href="/locus?repeat_id=813174&genome=hg38">16:67195891-67195947</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_540376">16:67229794-67229850</a>
            </td>
            <td>
                3.070000e-23
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                mean_sphered_cell_volume
            </td>
            <td>
                <a href="/locus?repeat_id=5580806&genome=hg38">17:46006926-46006998</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_587080">17:44084292-44084364</a>
            </td>
            <td>
                5.430000e-82
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                mean_sphered_cell_volume
            </td>
            <td>
                <a href="/locus?repeat_id=1315513&genome=hg38">19:17142167-17142190</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_671551">19:17252977-17253000</a>
            </td>
            <td>
                2.050000e-65
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                neutrophil_count
            </td>
            <td>
                <a href="/locus?repeat_id=4890100&genome=hg38">8:129599504-129599515</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_1454108">8:130611750-130611761</a>
            </td>
            <td>
                3.010000e-63
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                neutrophil_count
            </td>
 
            <td>
                <a href="/locus?repeat_id=5152139&genome=hg38">15:51223259-51223285</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_470458">15:51515456-51515482</a>
            </td>
            <td>
                1.870000e-13
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                neutrophil_percent
            </td>

            <td>
                <a href="/locus?repeat_id=4890097&genome=hg38">8:129592780-129592799</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_1454105">8:130605026-130605045</a>
            </td>
            <td>
                2.990000e-26
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                platelet_count
            </td>

            <td>
                <a href="/locus?repeat_id=5448542&genome=hg38">2:111116813-111116828</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_762678">2:111874390-111874405</a>
            </td>
            <td>
                2.540000e-13
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_count
            </td>

            <td>
                <a href="/locus?repeat_id=369939&genome=hg38">11:8824204-8824216</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_207978">11:8845751-8845763</a>
            </td>
            <td>
                2.020000e-32
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                platelet_count
            </td>

            <td>
                <a href="/locus?repeat_id=6166081&genome=hg38">11:119206290-119206323</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_266122">11:119077000-119077033</a>
            </td>
            <td>
                3.770000e-83
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                platelet_count
            </td>

            <td>
                <a href="/locus?repeat_id=5073141&genome=hg38">12:47810805-47810866</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_299022">12:48204588-48204649</a>
            </td>
            <td>
                5.950000e-18
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_count
            </td>

            <td>
                <a href="NaN">17:7823348-7823375</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_562561">17:7726666-7726693</a>
            </td>
            <td>
                7.300000e-13
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>

            <td>
                <a href="/locus?repeat_id=6263824&genome=hg38">1:3170058-3170078</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_1470">1:3086622-3086642</a>
            </td>
            <td>
                4.240000e-12
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>

            <td>
                <a href="NaN">1:204557905-204557931</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_103920">1:204527033-204527059</a>
            </td>
            <td>
                5.760000e-17
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>

            <td>
                <a href="/locus?repeat_id=6394728&genome=hg38">1:225726659-225726675</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_115256">1:225914361-225914377</a>
            </td>
            <td>
                3.520000e-14
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>

            <td>
                <a href="/locus?repeat_id=248480&genome=hg38">2:23870286-23870304</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_714940">2:24093156-24093174</a>
            </td>
            <td>
                1.600000e-29
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>
 
            <td>
                <a href="/locus?repeat_id=5448542&genome=hg38">2:111116813-111116828</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_762678">2:111874390-111874405</a>
            </td>
            <td>
                3.950000e-16
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>

            <td>
                <a href="/locus?repeat_id=88927&genome=hg38">4:7039091-7039118</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_1019943">4:7040818-7040845</a>
            </td>
            <td>
                1.170000e-28
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>

            <td>
                <a href="/locus?repeat_id=6166081&genome=hg38">11:119206290-119206323</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_266122">11:119077000-119077033</a>
            </td>
            <td>
                6.070000e-103
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>

            <td>
                <a href="/locus?repeat_id=5145711&genome=hg38">15:41962543-41962555</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_464460">15:42254741-42254753</a>
            </td>
            <td>
                2.410000e-17
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>

            <td>
                <a href="/locus?repeat_id=5988203&genome=hg38">16:88485441-88485456</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_555145">16:88551849-88551864</a>
            </td>
            <td>
                3.690000e-30
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>

            <td>
                <a href="/locus?repeat_id=475100&genome=hg38">17:2593591-2593618</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_558308">17:2496885-2496912</a>
            </td>
            <td>
                1.830000e-12
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>
  
            <td>
                <a href="/locus?repeat_id=5558354&genome=hg38">17:10277612-10277637</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_564554">17:10180929-10180954</a>
            </td>
            <td>
                5.190000e-13
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                platelet_crit
            </td>
 
            <td>
                <a href="/locus?repeat_id=6176778&genome=hg38">20:1949439-1949451</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_833274">20:1930085-1930097</a>
            </td>
            <td>
                1.170000e-144
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                platelet_distribution_width
            </td>

            <td>
                <a href="NaN">1:114637083-114637101</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_69112">1:115179704-115179722</a>
            </td>
            <td>
                8.280000e-35
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                platelet_distribution_width
            </td>

            <td>
                <a href="/locus?repeat_id=6398265&genome=hg38">1:230901420-230901430</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_118330">1:231037166-231037176</a>
            </td>
            <td>
                2.840000e-11
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_distribution_width
            </td>

            <td>
                <a href="/locus?repeat_id=5786162&genome=hg38">6:41820182-41820195</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_1231153">6:41787920-41787933</a>
            </td>
            <td>
                1.310000e-19
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                platelet_distribution_width
            </td>

            <td>
                <a href="/locus?repeat_id=900701&genome=hg38">20:19921850-19921885</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_843452">20:19902494-19902529</a>
            </td>
            <td>
                2.670000e-15
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                red_blood_cell_count
            </td>

            <td>
                <a href="/locus?repeat_id=5387324&genome=hg38">2:8620964-8621020</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_707222">2:8761094-8761150</a>
            </td>
            <td>
                6.090000e-19
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                red_blood_cell_count
            </td>

            <td>
                <a href="/locus?repeat_id=5297163&genome=hg38">14:64247333-64247356</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_427121">14:64714051-64714074</a>
            </td>
            <td>
                3.210000e-24
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                red_blood_cell_count
            </td>

            <td>
                <a href="/locus?repeat_id=5143736&genome=hg38">15:40020722-40020737</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_462670">15:40312923-40312938</a>
            </td>
            <td>
                2.270000e-20
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                red_blood_cell_count
            </td>

            <td>
                <a href="/locus?repeat_id=5169776&genome=hg38">15:75954432-75954447</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_485945">15:76246773-76246788</a>
            </td>
            <td>
                2.590000e-43
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                red_blood_cell_count
            </td>

            <td>
                <a href="/locus?repeat_id=813174&genome=hg38">16:67195891-67195947</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_540376">16:67229794-67229850</a>
            </td>
            <td>
                1.080000e-13
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                red_blood_cell_count
            </td>

            <td>
                <a href="/locus?repeat_id=5592565&genome=hg38">17:61373093-61373106</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_598282">17:59450454-59450467</a>
            </td>
            <td>
                5.920000e-27
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                red_blood_cell_distribution_width
            </td>

            <td>
                <a href="/locus?repeat_id=5026937&genome=hg38">3:171780542-171780552</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_1000036">3:171498332-171498342</a>
            </td>
            <td>
                4.300000e-72
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                red_blood_cell_distribution_width
            </td>

            <td>
                <a href="/locus?repeat_id=5569547&genome=hg38">17:32142452-32142501</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_576837">17:30469471-30469520</a>
            </td>
            <td>
                6.570000e-13
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                red_blood_cell_distribution_width
            </td>

            <td>
                <a href="/locus?repeat_id=5628171&genome=hg38">19:16130154-16130165</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_670404">19:16240964-16240975</a>
            </td>
            <td>
                2.660000e-16
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                red_blood_cell_distribution_width
            </td>

            <td>
                <a href="/locus?repeat_id=1315513&genome=hg38">19:17142167-17142190</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_671551">19:17252977-17253000</a>
            </td>
            <td>
                1.130000e-48
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                shbg
            </td>

            <td>
                <a href="/locus?repeat_id=6279241&genome=hg38">1:23491439-23491454</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_15426">1:23817932-23817947</a>
            </td>
            <td>
                9.160000e-17
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                shbg
            </td>
          
            <td>
                <a href="/locus?repeat_id=343714&genome=hg38">2:207588729-207588742</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_812968">2:208453453-208453466</a>
            </td>
            <td>
                2.870000e-16
            </td>
            <td>
                +
            </td>
            </tr>
            <tr>
            <td>
                shbg
            </td>

            <td>
                <a href="/locus?repeat_id=4845891&genome=hg38">8:58482877-58482917</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_1416761">8:59395436-59395476</a>
            </td>
            <td>
                1.090000e-26
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                shbg
            </td>

            <td>
                <a href="/locus?repeat_id=6195017&genome=hg38">20:34384148-34384167</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_849326">20:32971954-32971973</a>
            </td>
            <td>
                6.370000e-15
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                total_protein
            </td>

            <td>
                <a href="/locus?repeat_id=6060112&genome=hg38">5:128014207-128014217</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_1174648">5:127349899-127349909</a>
            </td>
            <td>
                4.620000e-16
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                total_protein
            </td>

            <td>
                <a href="/locus?repeat_id=5053925&genome=hg38">12:12725746-12725760</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_282174">12:12878680-12878694</a>
            </td>
            <td>
                7.180000e-13
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                triglycerides
            </td>

            <td>
                <a href="/locus?repeat_id=5005169&genome=hg38">3:136197983-136197999</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_981547">3:135916825-135916841</a>
            </td>
            <td>
                3.250000e-27
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                urate
            </td>

            <td>
                <a href="/locus?repeat_id=5009195&genome=hg38">3:142045613-142045631</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_985005">3:141764455-141764473</a>
            </td>
            <td>
                1.770000e-25
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                urate
            </td>

            <td>
                <a href="/locus?repeat_id=5592565&genome=hg38">17:61373093-61373106</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_598282">17:59450454-59450467</a>
            </td>
            <td>
                3.880000e-18
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                white_blood_cell_count
            </td>

            <td>
                <a href="/locus?repeat_id=5390181&genome=hg38">2:12793866-12793880</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_709760">2:12933992-12934006</a>
            </td>
            <td>
                5.960000e-18
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                white_blood_cell_count
            </td>

            <td>
                <a href="/locus?repeat_id=745771&genome=hg38">3:136449901-136449918</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_981786">3:136168743-136168760</a>
            </td>
            <td>
                8.100000e-12
            </td>
            <td>
                -
            </td>
            </tr>
            <tr>
            <td>
                white_blood_cell_count
            </td>

            <td>
                <a href="/locus?repeat_id=188567&genome=hg38">10:44390336-44390351</a>
            </td>
            <td>
                <a href="/locus?repeat_id=STR_155156">10:44885784-44885799</a>
            </td>
            <td>
                4.580000e-19
            </td>
            <td>
                -
            </td>
            </tr>
            </tbody>
            </table>
            {% endblock %}
