{% extends "layout.html" %}
{% block body %}

<h1 id="home-title">
  WebSTR: a population-wide database of short tandem repeat variation in humans
</h1>
<div id="home-searchbox">
  <form action="/region">
    <input type="submit" style="display: none;"/>
    <input id="home-searchbox-input" 
      name="query" 
      class="form-control input-lg awesomebar" 
      type="text" 
      placeholder="Search by gene or genomic region"/>
      <br>
      Genome build: 
      <input type="radio" name="genome" value="hg19"> hg19
      <input type="radio" name="genome" value="hg38" checked> hg38
      <input type="radio" name="genome" value="mm10"> mm10
      <input type="radio" name="genome" value="rn7"> rn7
    <input type="submit">
  </form>
  <p class="text-muted">
  Examples - Gene: <a href="/region/hg38/PCSK9">PCSK9</a>,
  Region: <a href="/region/hg38/22:46615715-46625880">22:46615715-46625880</a>
   </p>
</div>
{% endblock %}