{% extends "layout.html" %}
{% block body %}

<style>
  .table {
    border-collapse: collapse;
  }
  .table th,
  .table td {
    border: 1px solid black;
    padding: 8px;
  }
</style>

<div class="container">
  <div class="row mt-5">
    <div class="col-sm">
      <a name="datasets"></a>
      <p>
        <h2>Pathogenic TRs</h2>
      </p>

      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>Locus</th>
            <th>Hg38</th>
          </tr>
          <tr>
            <td>2:176093058-176093099</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=5486677&genome=hg38">link</a></td>
         </tr>
          <tr>
            <td>3:63912685-63912716</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=4965588&genome=hg38">link</a></td>
         </tr>
          <tr>
            <td>4:3074877-3074968</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=4701738&genome=hg38">link</a></td>
         </tr>
          <tr>
            <td>4:41745976-41746022</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=4725362&genome=hg38">link</a></td>
         </tr>
          <tr>
            <td>5:146878728-146878759</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=985593&genome=hg38">link</a></td>
         </tr>
         <tr>
           <td>6:16327634-16327724</td>
           <td><a href="https://webstr.ucsd.edu/locus?repeat_id=5767842&genome=hg38">link</a></td>
          <tr>
            <td>6:45422749-45422794</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=5789216&genome=hg38">link</a></td>
          </tr>
          <tr>
            <td>12:6936717-6936773</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=5050156&genome=hg38">link</a></td>
         </tr>
          <tr>
            <td>12:111598950-111599019</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=598560&genome=hg38">link</a></td>
         </tr>
          <tr>
            <td>14:92071009-92071053</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=5316666&genome=hg38">link</a></td>
         </tr>
          <tr>
            <td>14:23321472-23321492</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=1442709&genome=hg38">link</a></td>
         </tr>
          <tr>
            <td>16:87604283-87604329</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=828516&genome=hg38">link</a></td>
         </tr>
          <tr>
            <td>19:13207859-13207897</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=5624835&genome=hg38">link</a></td>
         </tr>
          <tr>
            <td>19:45770205-45770264</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=5650727&genome=hg38">link</a></td>
         </tr>
          <tr>
            <td>22:45795355-45795424</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=1027359&genome=hg38">link</a></td>
         </tr>
         
        </table>
      </div>

    </div>
  </div>
</div>




<div class="container">
  <div class="row mt-5">
    <div class="col-sm">

<h2>Pathogenic TRs</h2>

<a href="https://webstr.ucsd.edu/locus?repeat_id=5486677&genome=hg38">2:176093058-176093099
</a> <br>

<a href="https://webstr.ucsd.edu/locus?repeat_id=4965588&genome=hg38">3:63912685-63912716
</a><br>

<a href="https://webstr.ucsd.edu/locus?repeat_id=4701738&genome=hg38">4:3074877-3074968
</a><br>

<a href="https://webstr.ucsd.edu/locus?repeat_id=4725362&genome=hg38">4:41745976-41746022
</a><br>

<a href="https://webstr.ucsd.edu/locus?repeat_id=985593&genome=hg38">5:146878728-146878759
</a><br>

<a href="https://webstr.ucsd.edu/locus?repeat_id=5767842&genome=hg38">6:16327634-16327724
</a><br>

<a href="https://webstr.ucsd.edu/locus?repeat_id=5789216&genome=hg38">6:45422749-45422794
</a><br>

<a href="https://webstr.ucsd.edu/locus?repeat_id=5050156&genome=hg38">12:6936717-6936773
</a><br>

<a href="https://webstr.ucsd.edu/locus?repeat_id=598560&genome=hg38">12:111598950-111599019
</a><br>

<a href="https://webstr.ucsd.edu/locus?repeat_id=5316666&genome=hg38">14:92071009-92071053
</a><br>

<a href="https://webstr.ucsd.edu/locus?repeat_id=1442709&genome=hg38">14:23321472-23321492
</a><br>

<a href="https://webstr.ucsd.edu/locus?repeat_id=828516&genome=hg38">16:87604283-87604329
</a><br>

<a href="https://webstr.ucsd.edu/locus?repeat_id=5624835&genome=hg38">19:13207859-13207897
</a><br>

<a href="https://webstr.ucsd.edu/locus?repeat_id=5650727&genome=hg38">19:45770205-45770264
</a><br>

<a href="https://webstr.ucsd.edu/locus?repeat_id=1027359&genome=hg38">22:45795355-45795424
</a>


     </div>
  </div>
</div>


{% endblock %}

