{% extends "layout.html" %}
{% block body %}

<style>
  .table {
    border-collapse: collapse;
  }
  .table th,
  .table td {
    border: 1px solid black;
    padding: 8px;
  }
</style>

<div class="container">
  <div class="row mt-5">
    <div class="col-sm">
      <a name="datasets"></a>
      <p>
        <h2>Pathogenic TRs</h2>
      </p>

      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>Human disorder</th>
            <th>Gene</th>
            <th>Hg38</th>
            <th>Hg19</th>
            <th>Repeat units (amino acid repeat)</th>
            <th>Range of tandem repeat length Normal (expanded)*</th>
          </tr>
          <tr>
            <td>SPD1</td>
            <td>HOXD13</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=5486677&genome=hg38">2:176093058-176093099</a></td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=STR_796395">2:176957786-176957827</a></td>
            <td>CCG (A)</td>
            <td>  </td>
          </tr>
          <tr>
            <td>SCA7</td>
            <td>ATXN7</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=4965588&genome=hg38">3:63912685-63912716</a></td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=Expansion_SCA7/ATXN7">3:63898361-63898391</a></td>
            <td>CAG (Q)</td>
            <td>4–33 (37–460)*</td>
          </tr>
          <tr>
            <td>HD</td>
            <td>HTT</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=4701738&genome=hg38">4:3074877-3074968</a></td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=Expansion_HD/HTT">4:3076604-3076695</a>
            <td>CAG (Q)</td>
            <td>6–35 (36–250)*</td>
          </tr>
          <tr>
            <td>CCHS</td>
            <td>PHOX2B</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=4725362&genome=hg38">4:41745976-41746022</a></td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=Expansion_CCHS/PHOX2B">4:41747993-41748039</a></td>
            <td>CCG (A)</td>
            <td>  </td>
          </tr>
          <tr>
            <td>SCA12</td>
            <td>PPP2R2B</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=985593&genome=hg38">5:146878728-146878759</a></td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=Expansion_SCA12/PPP2R2B">5:146258291-146258322</a>
            <td>CAG</td>
            <td>15–50 (80–250)*</td>
         </tr>
         <tr>
           <td>SCA1</td>
           <td>ATXN1</td>
           <td><a href="https://webstr.ucsd.edu/locus?repeat_id=5767842&genome=hg38">6:16327634-16327724</a></td>
           <td><a href="https://webstr.ucsd.edu/locus?repeat_id=Expansion_SCA1/ATXN1">6:16327865-16327955</a></td>
           <td>CAG (Q)</td>
           <td>6–38 (39–88)*</td>
         </tr>
         <tr>
            <td>CCD</td>
            <td>RUNX2</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=5789216&genome=hg38">6:45422749-45422793</a></td>
            <td>6:45390486-45390530</td>
            <td>CCG (A)</td>
            <td>  </td>
          </tr>
          <tr>
            <td>C9ORF72 ALS, C9ORF72 FTD and possibly other diseases</td>
            <td>C9ORF72</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=5877863&genome=hg38">9:27573485-27573546</a></td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=STR_1475506">9:27573483-27573544</a></td>
            <td>GGGGCC·GGCCCC</td>
            <td>3–25 (>30)*</td>
         </tr>
         <tr>
            <td>DRPLA</td>
            <td>ATN1</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=5050156&genome=hg38">12:6936717-6936773</a></td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=Expansion_ATN1/DRPLA">12:7045880-7045936</a></td>
            <td>CAG (Q)</td>
            <td>3–35 (48–93)*</td>
          </tr>
          <tr>
            <td>SCA2</td>
            <td>ATXN2 and ATXN2-AS</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=598560&genome=hg38">12:111598950-111599019</a></td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=Expansion_SCA2/ATXN2">12:112036754-112036822</a></td>
            <td>CAG·CTG (Q)</td>
            <td>14–32 (33–200)*</td>
          </tr>
          <tr>
            <td>SCA3</td>
            <td>ATXN3</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=5316666&genome=hg38">14:92071009-92071053</a></td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=Expansion_SCA3_MJD/ATXN3">14:92537356-92537397</a></td>
            <td>CAG (Q)</td>
            <td>12–44 (55–87)*</td>
          </tr>
          <tr>
            <td>OPMD</td>
            <td>PAPBN1</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=1442709&genome=hg38">14:23321472-23321492</a></td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=Expansion_OPMD/PAPBN1">14:23790681-23790701</a></td>
            <td>CCG</td>
            <td>  </td>
         </tr>
          <tr>
            <td>HDL2</td>
            <td>JPH3</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=828516&genome=hg38">16:87604283-87604329</a></td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=Expansion_HDL2/JPH3">16:87637889-87637935</a></td>
            <td>CTG·CAG (Q)</td>
            <td>6–28 (41–58)*</td>
         </tr>
          <tr>
            <td>SCA6</td>
            <td>CACNA1A</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=5624835&genome=hg38">19:13207859-13207897</a></td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=Expansion_SCA6/CACNA1A">19:13318673-13318711 </a></td>
            <td>CAG (Q)</td>
            <td>4–18 (20–33)*</td>
         </tr>
          <tr>
            <td>DM1</td>
            <td>DMPK</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=5650727&genome=hg38">19:45770205-45770264</a></td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=Expansion_DM1/DMPK">19:46273463-46273522</a></td>
            <td>CTG·CAG</td>
            <td>5–34 (>50)*</td>
         </tr>
          <tr>
            <td>SCA10</td>
            <td>ATXN10</td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=1027359&genome=hg38">22:45795355-45795424</a></td>
            <td><a href="https://webstr.ucsd.edu/locus?repeat_id=STR_909210">22:46191235-46191304</a></td>
            <td>AATAG</td>
            <td>  </td>
         </tr>
         <tr>
           <td>CANVAS</td>
           <td>RFC1</td>
           <td><a href="http://webstr.ucsd.edu/locus?repeat_id=4722884&genome=hg38">4:39348425-39348483</a></td>
           <td><a href="http://webstr.ucsd.edu/locus?repeat_id=STR_1036603">4:39350045-39350103</a></td>
           <td>AAAAG+</td>
           <td>  </td>
         <tr>
        </table>
      <div class="row">
        <div class="col-md-12">
	Repeat units in the form "CTG·CAG" indicate potential bidirectional transcription and thus repeat units on both strands are listed.
	<br>
        *Hannan, A. Tandem repeats mediating genetic plasticity in health and disease. <a href="https://www.nature.com/articles/nrg.2017.115/tables/1">Nat Rev Genet 19, 286–298 (2018). https://doi.org/10.1038/nrg.2017.115</a>
	<br>+Pathogenic repeats of the RFC1 repeat in CANVAS have alternate motifs (including AAGGG) (<a href="https://www.ncbi.nlm.nih.gov/books/NBK564656/">NBK564656</a>).
          </div>
</div>
 
     </div>
       
    </div>
  </div>
</div>

{% endblock %}

