{% extends "layout.html" %}
{% block body %}
<div class="container">
	<div class="row mt-5">
	  <div class="col-sm">
        <h1>Data usage</h1>
        <p>All data provided through WebSTR comes from previously published sources and is freely available. 
            Code as well as the data are available under the <a href="https://opensource.org/license/mit/">MIT Licence</a>. 
            You can access data via the <a href="/download">Downloads</a> and <a href="http://webstr-api.ucsd.edu/docs">WebSTR API</a>.
        </p>
        <h2>Citing WebSTR</h2>
        <p>
	  Please cite [Lundstrom et al. J Mol Biol. 2023](https://pubmed.ncbi.nlm.nih.gov/37678708/) if you use WebSTR in your work!
        </p>
        </div>
	  </div>
	</div>

{% endblock %}
