{% extends "layout.html" %}
{% block body %}
<div class="container">
	<div class="row mt-5">
	  <div class="col-sm">
        <h1>Data usage</h1>
        <p>All data provided through WebSTR comes from previously published sources and is freely available. 
            Code as well as the data are available under the <a href="https://opensource.org/license/mit/">MIT Licence</a>. 
            You can access data via the <a href="/download">Downloads</a> and <a href="http://webstr-api.ucsd.edu/docs">WebSTR API</a>.
        </p>
        <h2>Citing WebSTR</h2>
        <p>
            There is not yet any formal publication about WebSTR. For now, please acknowledge use of WebSTR using its URL.
        </p>
        </div>
	  </div>
	</div>

{% endblock %}
