{% extends "layout.html" %}

{% block body %}

<!-- Main table of STRs in this region -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>No STRs found in this region.</h1>
      <h4>Check that the gene is spelled correctly or the region is in the format chrom:start-end and not more than 1Mb is specified.</h4>
      <h4>e.g. 
	<br>
	<a href="/search?query=PCSK9&genome=hg38">PCSK9</a> 
	<br>
  <a href="/search?query=HTT&genome=hg38">HTT</a>
  <br>
	<a href="/search?query=4:3186810-4121716&genome=hg38">chr4:3186810-412171</a>
	<br>
    </div>
  </div>
</div>
{% endblock %}
